.git/**
.github/**
.vscode/**
.vscode-test/**
node_modules/**
src/**
out/**
test/**
.gitignore
.vscodeignore
tsconfig.json
package-lock.json
pnpm-lock.yaml
pnpm-workspace.yaml
eslint.config.mjs
CHANGELOG.md
docs/**

**/*.ts
**/*.map
